<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@700;800&display=swap" rel="stylesheet">

    <!-- Ícones -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <title>YUP COOKIES</title>
</head>
<body style="background-color: #F5F5F5">
    <div class="container-fluid px-0">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F5F5F5; height: 120px !important">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.php">
                    <img src="{{ url_for('static', filename='logo.png') }}" class="img-fluid col-3 mt-3"><br>
                </a>
            </div>
        </nav>
        
    <div class="container px-3 pt-2" id="painel">
        <h1 class="mb-4">Adicionar Produto</h1>
        <div class="container-fluid shadow bg-white p-3 d-flex flex-column justify-content-center align-items-center" style="border-radius: 20px">
            <img src="../files/imgs/cookieT.png" class="img-fluid col-5 py-4">
            <form name="upload" enctype="multipart/form-data" action="/add" method="post" class="forms w-100 px-3">
                <input class="form-control shadow-sm mb-3" type="text" name="nome" id="nome" required placeholder="Nome">
                <textarea class="form-control shadow-sm mb-3" rows="2" type="text" name="descricao" id="descricao" required placeholder="Descrição"></textarea>
                <input class="form-control shadow-sm mb-3" type="text" name="preco" id="preco" required placeholder="Preço">
                <select name="imagem" id="imagem" class="form-select mb-3" aria-label="Selecione o sabor">
                    <option selected>Imagem</option>
                    <option value="cookieT">Tradicional</option>
                    <option value="cookieRV">Red Velvet</option>
                    <option value="cookieCB">Chocolate Amargo</option>
                </select>
                <input class="btn btn-success fw-bold" type="submit" value="Criar Blog">
            </form>
        </div>
    </div>
</body>
</html>