<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@700;800&display=swap" rel="stylesheet">

    <!-- Ícones -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <title>YUP COOKIES</title>
</head>
<body style="background-color: #F5F5F5">
    <div class="container-fluid px-0">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F5F5F5; height: 120px !important">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.php">
                    <img src="{{ url_for('static', filename='logo.png') }}" class="img-fluid col-3 mt-3"><br>
                </a>
            </div>
        </nav>
    
        <div class="container-fluid mb-5 h-100" id="home">
            <div class="container row justify-content-center">
                <h6 class="mb-4">Olá! Escolha seu delicioso cookie</h6>
                    <div class="container-fluid col-12 my-2" id="cookies">
                        <h1>Cookies</h1>
                        {% for e in cookies %}
                        <div class="card-container bg-white border shadow d-flex flex-column justify-content-center mb-3" id="card">
                            <div class="row align-items-center justify-content-center m-1">
                                <div class="card-image col-4 d-flex flex-column justify-content-center align-items-center">
                                    <img src="{{ url_for('static', filename=e.imagem) }}.png" class="img-fluid" alt="Img">
                                </div>
                                <div class="card-corpo col-6 d-flex bg-white flex-column">
                                    <div class="card-title">
                                        <h2>{{ e.nome }}</h2>
                                    </div>
                                    <div class="card-sobre mb-1">
                                        {{ e.descricao }}
                                    </div>
                                    <div class="card-sobre">
                                        <h2>R${{ e.preco }}</h2>
                                    </div>
                                </div>
                                <div class="card-image col-1 d-flex flex-column justify-content-center align-items-center">
                                    <i class="bi bi-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                <a href="/admin" class="text-center"><button type="button" class="btn btn-dark w-50">Administrar</button></a>
            </div>
        </div>
        </div>

        <footer class="py-3 px-0 position-relative align-items-center" id="footer">
            <div class="container">
                <div class="row justify-content-center align-items-center py-3">
                    <div class="col-6 text-center d-flex justify-content-center align-items-center">
                        <a class="text-decoration-none" href="#"><img src="{{ url_for('static', filename='logo.png') }}" class="img-fluid col-8"></a>
                    </div>

                    <div class="col-6 col-md-1">
                        Olá! Somos uma empresa de doces adoçando seu dia!<br>
                        <a href="https://www.instagram.com/yup.doces/" target="_blank" class="mt-2 text-decoration-none text-black" style="font-size: 20px"><ion-icon name="logo-instagram"></ion-icon></a>
                    </div>

                </div>
                <hr class="border opacity-75 w-100" style="border: 1.5px solid black !important">
            </div>
            <p class="text-center">© 2023 YUP | All Rights Reserved</p>
        </footer>
        </section>
    </div>
    </div>
</body>
</html>